# Exoplanet Habitability Predictor

## 1. Data Collection and Cleaning

**Objective**: Gather data on exoplanets and prepare it for analysis.

- **Source Data**: [NASA Exoplanet Archive](https://exoplanetarchive.ipac.caltech.edu/)
- **Tasks**:
    - Gather data on exoplanets.
    - Clean: Remove missing values, outliers, irrelevant columns.
    - Normalize/standardize features.
    - Split data: training, validation, test sets.

---

## 2. Exploratory Data Analysis (EDA)

**Objective**: Understand the distribution of the data and identify potential features.

- **Tasks**:
    - Visualize distributions of features.
    - Correlations between features & habitability.
    - Identify potential features.

---

## 3. Model Training & Evaluation

**Objective**: Develop a model that predicts habitability scores based on exoplanet features.

- **Tasks**:
    - Choose a machine learning model (e.g., Regression).
    - Train the model on the training set.
    - Validate on the validation set.
    - Metrics: MAE, RMSE.
    - Hyperparameter optimization: grid search, random search.
    - Test on the test set.

---

## 4. Model Deployment with Flask

**Objective**: Integrate the trained model into a Flask application for real-time predictions.

- **Tasks**:
    - Create a Flask app.
    - Integrate model using `pickle`.
    - Design endpoints: receive exoplanet parameters, return scores.

---

## 5. Front-End Development

**Objective**: Create a user-friendly interface for the habitability predictor.

- **Tasks**:
    - Design web interface (HTML, CSS, JavaScript).
    - Input: exoplanet parameters.
    - Output: predicted habitability score.

---

## 6. Testing & Debugging

**Objective**: Ensure the complete system functions as expected.

- **Tasks**:
    - Test system end-to-end.
    - Check Flask app functionality.
    - Web interface & Flask app communication.
    - Error handling.

---

## 7. Documentation & User Guide

**Objective**: Document the process and provide a guide for users.

- **Tasks**:
    - Document: Data collection, model training, deployment.
    - User guide: Using the predictor.

---

## 8. Deployment & Monitoring

**Objective**: Make the predictor available to users and ensure it functions over time.

- **Tasks**:
    - Deploy Flask app (e.g., Heroku).
    - Monitor for issues/bugs.
    - Collect user feedback.

## 2. Exploratory Data Analysis (EDA)

### 2.1 Load Cleaned Data

In [1]:
import pandas as pd

# Load the cleaned dataset
data_path = "../data/cleaned_5250.csv"
data = pd.read_csv(data_path)

# Display the first few rows to understand its structure
data.head()

,name,distance,stellar_magnitude,planet_type,discovery_year,mass_multiplier,mass_wrt,radius_multiplier,radius_wrt,orbital_radius,orbital_period,eccentricity,detection_method
0,11 Comae Berenices b,304.0,4.72307,Gas Giant,2007,19.40000,Jupiter,1.08,Jupiter,1.290000,0.892539,0.23,Radial Velocity
1,11 Ursae Minoris b,409.0,5.01300,Gas Giant,2009,14.74000,Jupiter,1.09,Jupiter,1.530000,1.400000,0.08,Radial Velocity
2,14 Andromedae b,246.0,5.23133,Gas Giant,2008,4.80000,Jupiter,1.15,Jupiter,0.830000,0.508693,0.00,Radial Velocity
3,14 Herculis b,58.0,6.61935,Gas Giant,2002,8.13881,Jupiter,1.12,Jupiter,2.773069,4.800000,0.37,Radial Velocity
4,16 Cygni B b,69.0,6.21500,Gas Giant,1996,1.78000,Jupiter,1.20,Jupiter,1.660000,2.200000,0.68,Radial Velocity

### 2.2 Data Overview

In [2]:
data.describe()

,distance,stellar_magnitude,discovery_year,mass_multiplier,radius_multiplier,orbital_radius,orbital_period,eccentricity
count,5233.000000,5089.000000,5250.000000,5227.000000,5233.000000,4961.000000,5.250000e+03,5250.000000
mean,2167.168737,12.683738,2015.732190,6.434812,1.015121,6.962942,4.791509e+02,0.063568
std,3245.522087,3.107571,4.307336,12.972727,0.603479,138.673600,1.680445e+04,0.141424
min,4.000000,0.872000,1992.000000,0.020000,0.200000,0.004400,2.737851e-04,-0.520000
25%,389.000000,10.939000,2014.000000,1.804000,0.325000,0.053000,1.259411e-02,0.000000
50%,1371.000000,13.543000,2016.000000,4.170140,1.120000,0.102800,3.449692e-02,0.000000
75%,2779.000000,15.021000,2018.000000,8.000000,1.410000,0.286000,1.442163e-01,0.060000
max,27727.000000,44.610000,2023.000000,752.000000,6.900000,7506.000000,1.101370e+06,0.950000

### 2.3 Feature Distributions
Visualizing the distributions of individual features can be helpful.

In [9]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

features = data.columns()

for feature in features:
    plt.figure(figsize=(10, 5))
    sns.histplot(data[feature], bins=50, kde=True)
    plt.title(f'Distribution of {feature}')
    plt.show()